<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <title>Community Kitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="form-body">

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="/packs/media/images/Gmas_kitchen_logo_dark_300-341548e2bee00f73ca7877b53468f4ba.png" class="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="mr-auto navbar-nav "></ul>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Sign in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Sign up</a>
        </li>
        </div>
    </nav>
    <div class="top-spacer"></div>
    <div class="login_container">
  <h2  class="display-3" style="margin: 64px 0 64px 0;">Log-In</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form-row">
    <div class="field form-group margin-fix col-md-12">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control', placeholder: 'email'%>
  </div>
</div>

<div class="form-row">
    <div class="field form-group margin-fix col-md-12">
    <%= f.password_field :password, autocomplete: "current-password", :class => 'form-control', placeholder: 'password' %>
  </div>
</div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="tenpx-space">
    </div>
  <div class="actions">
    <%= f.submit "Log in", :class=> 'btn-form btn btn-secondary' %>
  </div>
<div class="tenpx-space">
</div>
<div class="links">
<%= render "devise/shared/links" %>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>


<% end %>
